*{
    margin: 0;
    border: 0;
    padding: 0;
 
}
.body{ display: flexbox;}
header{
    height: 80px;
    
}
.header{ 
    color: rgb(255, 188, 106);
   text-align: center;
    height: 100px;
   display: inline;
   font-size: x-large;

}
.logo{
    height: 80px;
    width: 80px;
    position:fixed; 
	top:0; 
	left:0; 
}

.subcontainer {
    display: flex;
    flex-direction: row;
    flex: 1;
  }
  
  .column1 {
    height: 66vh;
    width: 50%;

    
  }
  .about-me-tittle{
    color: plum;
    text-align: center;
    display: inline;
    font-size: large;
    margin-left: 22%;
    position: absolute;
  }
  .end {    
    color: rgba(238, 255, 0, 0.616);
    text-align: center;
display: block;
    font-size: large;
   vertical-align: middle;
    bottom: 0;
    position: relative;
  

  }
  .ami img{
    height: 20vh;
    width: 40%;
    padding: 10px;
   display: block;
   margin-top: 10px;
   margin-left: 27%;

  }
  .amt{color: red;
    margin-left: 25px;

  }
  .code-logo{
    height: 30vh;
    width: 50vw;
    position:relative;
    z-index: -1;
    
  }
  .column2 {
    height: 66vh;
    width: 50%;

    float: right;
  }
  .cpt{    
    color: greenyellow;
    text-align: center;
    display: block;
    font-size: x-large;
    vertical-align: middle;
 

  }
  


.footer{    
    color: bisque;
    position: fixed;
    left: 1px;
    height: 100px;
    bottom: 0;
    width: 100%;
    text-align: center;

}

#il img{
  height: 15vh;

 display: flexbox;
 display: inline-flex;
 flex-direction: row;
 margin-left: 5%;
 flex-grow: 1;
 flex-shrink: 1;
 flex-wrap: nowrap;
 margin-top: 10%;
  
}