*{
    margin: 0;
    padding: 0;
    background-color: rgb(30, 45, 64);
  
    
 
}
a:hover{
  transition: all 0.2s ease-in-out;
  color: rgb(14, 116, 205);
}
.body{ display: flexbox;}
header{
    height: 80px;
    
}
.header{ 
    color: rgb(255, 188, 106);
   text-align: center;
    height: 100px;
   display: inline;
   font-size: x-large;

}
.logo{
    height: 80px;
    width: 80px;
    position:fixed; 
	top:0; 
	left:0; 
}

.subcontainer {
    display: flex;
    flex-direction: row;
    flex: 1;
  }
  
  .column1 {
    height: 66vh;
    width: 50%;

    
  }
  h1:hover{
    color: red;
  }
  h2:hover{
    color: red;
  }
  .about-me-tittle{
    color: plum;
    text-align: center;
    display: inline;
    font-size: large;
    margin-left: 22%;
    position: absolute;
    z-index: 1;
  }
  .end {    
    color: rgba(238, 255, 0, 0.616);
    text-align: center;
display: block;
    font-size: large;

    bottom: 0;
    position: relative;
  

  }
  .ami img{
    height: 15vh;
    width: 25%;
    padding: 3px;
    justify-content: space-evenly;
    display: inline-flex;
    align-items:center;
    justify-content: center;
    border-width: 100px;
   
    
  }
  .amt{color: red;
    margin-left: 25px;

  }
  .code-logo{
    height: 30vh;
    width: 50vw;
    position:relative;
    z-index: 0;
    
  }
  .column2 {
    height: 66vh;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

  }
  .cpt{    
    color: greenyellow;
   display:block;
text-align: center;
    font-size: x-large;

  }
  .subt{
    color: rgb(0, 149, 255);
    font-size: smaller;
    display:block;
text-align: center;
  }
 

.footer{    
    color: bisque;
    position: fixed;
    left: 1px;
    height: 100px;
    bottom: 0;
    width: 100%;
    text-align: center;

}

#il img{
  height: 15vh;

 display: flexbox;
 display: inline-flex;
 flex-direction: row;
 margin-left: 5%;
 flex-grow: 1;
 flex-shrink: 1;
 flex-wrap: nowrap;
 margin-top: 10%;

  
}